beautifulsoup4>=4.12
python-dotenv>=1.0
fastapi>=0.100
python-multipart>=0.0.9
requests>=2.31
uvicorn>=0.23
sentence-transformers==3.4.1
transformers>=4.51.0
torch>=2.0
modelscope>=1.14
huggingface-hub>=0.20
